@font-face {
    font-family: 'boeotianormal';
    src: url('fonts/boeotia-webfont.woff2') format('woff2'),
         url('fonts/boeotia-webfont.woff') format('woff'),
         url('fonts/boeotia-webfont.ttf') format('truetype'),
         url('fonts/boeotia-webfont.svg#boeotianormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#header,
#footer {
    background-color: #975C8D;
    padding: 1%;
    font-family: 'boeotianormal';
    font-size: 25px;
}

h2 {
    font-size: 40px;
}

ol,
ul {
    font-size: 30px;
}

#image {
    background-image: url(../img/sakura1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#image img {
    display: block;
    margin: 0 auto;
}

#text {
    margin-right: auto;
    margin-left: auto;
    max-width: 800px;
    padding: 1%;
}

.text-center {
    text-align: center;
}

#content {
    background-color: #c293ba;
}

img {
    max-width: 100%;
}